<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Expense Logbook - DuitWise</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">My Expense Logbook</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/expense}"> Expense Logbook </a>
      </li>
    </ul>
  </div>
</nav>
<!--Navbar-->
<div class="container">
  <div class="row">
    <h1> List Of Expenses </h1>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <a th:href="@{/expenses/create}" class="btn btn-primary btn-sm mb-3"> Add Expenses </a>
    </div>

  </div>
  <table class = "table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th> Expense Amount </th>
      <th> Expense Description </th>
      <th> Expense Category </th>
      <th> Actions </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "expense: ${expenses}">
      <td th:text="${expense.amount}"></td>
      <td th:text="${expense.description}"></td>
      <td th:text="${expense.type}"></td>
      <td>
        <div class="btn-toolbar" role="group" aria-label="Expense actions">
          <a th:href= "@{/expenses/edit/{id}(id=${expense.expense_id})}"
             class="btn btn-primary me-2">Update</a>
          <form th:action="@{/expenses/delete/{id} (id=${expense.expense_id})}" method="POST">
            <button type="submit" class="btn btn-danger me-2"
                    onclick="window.confirm('Are you sure you want to delete this?')">Delete
            </button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- include javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>