.card {
    border: 2px solid #85d4ff;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05); /* Make the card slightly larger on hover */
}

.card-img-top {
    object-fit: contain;
    max-height: 200px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
}

.active {
    color: white;   /* Make the active nav-item pop out more */
}