<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration</title>
</head>
<body>
<h2>Registration</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
  <label for="username">Your name:</label>
  <input type="text" th:field="*{username}" required/>
  <label for="email">Email:</label>
  <input type="email" th:field="*{email}" required/>
  <br/>
  <label for="password">Password:</label>
  <input type="password" th:field="*{password}" required/>
  <br/>
  <input type="submit" value="Register"/>
</form>
</body>
</html>
